
//
// VARIABLES
//

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
// $helvetica: "Roboto", Helvetica, Arial, sans-serif;
// $helveticaNeue: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
// $georgia: Georgia, serif;
$roboto: "Roboto", sans-serif;
$body: "Open Sans", "Roboto", sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
